@tailwind base;
@tailwind components;
@tailwind utilities;

.planet-background-1 {
    background: radial-gradient(80.36% 80.36% at 18.95% 26.51%, #60DBFF 0.56%, #60D5FF 9.37%, #5FC4FF 21.1%, #5DA9FF 34.46%, #5A82FF 49.03%, #5751FF 64.42%, #5643FF 68.44%, #563DF8 74.32%, #552EE5 82.82%, #5315C6 92.87%, #5200AB 100%);
    background-size: 150% 150%;
    animation: none; /* Disable the initial rotation animation */
  }